#FrontEnd

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android


serviceAccountKey.json





google-services.json
debug.keystore
repomix-output.xml

#BackEnd

.env
__pycache__/
pycache/
__pycache__/
__pycache__/*
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
SETUP_GUIDE.md
FRONTEND_BACKEND_CONNECTION.md

serviceAccountKey.json

.agents/
skills-lock.json

sage-secrets.tar.gz
SAGE-group6-capstone-08-31-2026.docx
repomix-graphify.xml
firebase-config.tar.gz